.maincart {
    background-image: url("../../assets/seafood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#mainContainer {
    width: 100%;
    height: 100%;
    text-align: center;
}

.itemCard {
    background: #fff;
    border-radius: 15px;
    display: inline-block;
    height: 120px;
    margin: 1rem;
    position: relative;
    width: 140px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    padding: 10px;
  }


#cartBox {
	background-color:rgba(255,255,255);
	opacity: 1;
	top: 60%;
	left: 50%;
	width: 80%;
	height: 85%;
	padding-top: 1em;
	margin: auto;
	border-radius: 10px;
	text-align: center;
	font-size: 18px;
	position: absolute;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transform:translate(-50%, -60%);
}

#cartBox h5{
    font-size: 35px;
    font-weight: bold;
	color: black;
}

#cartTitle {
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    padding-left: 48%;
    padding-top: 20px;
    color: #2F4F4F;
}


#itemsBox {
    position: relative;
    border-style: ridge;
    background-color: rgb(255,255,255);
    height: 65%;
    width: 85%;
    display: inline-block;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
}

#confirmTitle {
    position: relative;
    top: 5%;
    left: 32%;
    font-size: 20px;
    padding-left: 18px;
    padding-top: 10px;
    color: #2F4F4F;
}

#checkoutButton {
    position: absolute;
    width: 150px;
    height: 45px;
    margin-left: 180px;
    margin-top: 630px;
    font-family: sans-serif;
    font-size: 25px;
    background-color: green;
    color:rgb(255, 255, 255);
    border:none;
    border-radius: 5px;
}

#subtotal {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
}

.paypal{
    position: relative;
}